<div class="editor-container">
  <div
    #artboardContainer
    class="artboard-container">
    <div
      #artboard
      class="artboard mat-elevation-z2"
      [style.width]="config.width + 'px'"
      [style.height]="config.height + 'px'">
          <fs-block
            *ngFor="let block of blocks; trackBy: trackByBlock;"
            [block]="block"
            (changed)="blockChanged($event)">
        </fs-block>
    </div>
  </div>

  <div class="sidebar mat-elevation-z2">
    <div class="sidebar-panel">
      <div class="sidebar-label">Tools</div>
      <div class="sidebar-row">
        <button
          mat-icon-button
          color="basic"
          type="button"
          (click)="blockAddClick()">
          <mat-icon>add</mat-icon>
        </button>
        <button
          *ngIf="block"
          class="layer-up"
          mat-icon-button
          color="basic"
          type="button"
          (click)="layerUp()">
          <mat-icon>arrow_back</mat-icon>
          <mat-icon>layers</mat-icon>
        </button>
        <button
          *ngIf="block"
          class="layer-down"
          mat-icon-button
          color="basic"
          type="button"
          (click)="layerDown()">
          <mat-icon>arrow_back</mat-icon>
          <mat-icon>layers</mat-icon>
        </button>
      </div>
    </div>
    <ng-container *ngIf="block">
      <div class="sidebar-panel info-panel">
        <div class="sidebar-label">Info</div>
        <div class="sidebar-row">
          <span>
            <span class="field-label">H</span>{{block.width}} <span class="field-label">W</span>{{block.height}}
          </span>
          <span>
            <span class="field-label">X</span>{{block.left}} <span class="field-label">Y</span>{{block.top}}
          </span>
        </div>
      </div>
      <div class="sidebar-panel typography-panel">
        <div class="sidebar-label">Typography</div>
        <div class="sidebar-row">
          <fs-color-picker-chip
            (changed)="fontColorChange($event)"
            [color]="block.fontColor">
          </fs-color-picker-chip>

          <mat-form-field class="form-field-padless font-size" floatLabel="never">
            <input
              matInput
              [(ngModel)]="block.fontSize"
              name="fontSize"
              (ngModelChange)="fontSizeChange($event)"
              placeholder="Size">
              <span matPrefix *ngIf="block.fontSize">S</span>
          </mat-form-field>

          <mat-form-field class="form-field-padless line-height" floatLabel="never">
            <input
              matInput
              [(ngModel)]="block.lineHeight"
              name="lineHeight"
              (ngModelChange)="lineHeightChange($event)"
              placeholder="Line">
              <span matPrefix *ngIf="block.lineHeight">L</span>
          </mat-form-field>
        </div>

        <div class="sidebar-row style-row">
          <button
            mat-icon-button
            class="toggle-button"
            color="basic"
            type="button"
            [ngClass]="{ selected: block.bold }"
            (click)="boldClick()">
            <mat-icon>format_bold</mat-icon>
          </button>
          <button
            mat-icon-button
            class="toggle-button"
            color="basic"
            type="button"
            [ngClass]="{ selected: block.italic }"
            (click)="italicClick()">
            <mat-icon>format_italic</mat-icon>
          </button>
          <button
            mat-icon-button
            class="toggle-button"
            color="basic"
            type="button"
            [ngClass]="{ selected: block.underline }"
            (click)="underlineClick()">
            <mat-icon>format_underline</mat-icon>
          </button>
        </div>

        <div class="sidebar-row align-row">
          <button
            mat-icon-button
            class="toggle-button"
            color="basic"
            type="button"
            [ngClass]="{ selected: block.horizontalAlign === 'left' }"
            (click)="horizontalAlignClick('left')">
            <mat-icon>format_align_left</mat-icon>
          </button>
          <button
            mat-icon-button
            class="toggle-button"
            color="basic"
            type="button"
            [ngClass]="{ selected: block.horizontalAlign === 'center' }"
            (click)="horizontalAlignClick('center')">
            <mat-icon>format_align_center</mat-icon>
          </button>
          <button
            mat-icon-button
            class="toggle-button"
            color="basic"
            type="button"
            [ngClass]="{ selected: block.horizontalAlign === 'right' }"
            (click)="horizontalAlignClick('right')">
            <mat-icon>format_align_right</mat-icon>
          </button>
          <button
            mat-icon-button
            class="toggle-button"
            color="basic"
            type="button"
            [ngClass]="{ selected: block.verticalAlign === 'top' }"
            (click)="verticalAlignClick('top')">
            <mat-icon>vertical_align_top</mat-icon>
          </button>
          <button
            mat-icon-button
            class="toggle-button"
            color="basic"
            type="button"
            [ngClass]="{ selected: block.verticalAlign === 'center' }"
            (click)="verticalAlignClick('center')">
            <mat-icon>vertical_align_center</mat-icon>
          </button>
          <button
            mat-icon-button
            class="toggle-button"
            color="basic"
            type="button"
            [ngClass]="{ selected: block.verticalAlign === 'bottom' }"
            (click)="verticalAlignClick('bottom')">
            <mat-icon>vertical_align_bottom</mat-icon>
          </button>
        </div>
      </div>
      <div class="sidebar-panel">
        <div class="sidebar-label">Border</div>

        <div class="sidebar-row">
          <fs-color-picker-chip
            (changed)="borderColorChange($event)"
            [color]="block.borderColor">
          </fs-color-picker-chip>
        </div>
      </div>

      <div class="sidebar-panel">
        <div class="sidebar-label">Shape</div>

        <div class="sidebar-row">
          <fs-color-picker-chip
            (changed)="backgroundColorChange($event)"
            [color]="block.backgroundColor">
          </fs-color-picker-chip>

          <mat-form-field class="form-field-padless shape-radius" floatLabel="never">
            <input
              matInput
              [(ngModel)]="block.shapeRadius"
              name="shapeRadius"
              (ngModelChange)="shapeRadiusChange($event)"
              placeholder="Radius">
              <span matPrefix *ngIf="block.shapeRadius">R</span>
          </mat-form-field>

          <div class="shape-corners">
            <div
              class="shape-corner shape-corner-top-left"
              [ngClass]="{ round: block.shapeTopLeft === 'round' }"
              (click)="shapeRound('shapeTopLeft')"></div>
            <div
              class="shape-corner shape-corner-top-right"
              [ngClass]="{ round: block.shapeTopRight === 'round' }"
              (click)="shapeRound('shapeTopRight')"></div>
            <div
              class="shape-corner shape-corner-bottom-left"
              [ngClass]="{ round: block.shapeBottomLeft === 'round' }"
              (click)="shapeRound('shapeBottomLeft')"></div>
            <div
              class="shape-corner shape-corner-bottom-right"
              [ngClass]="{ round: block.shapeBottomRight === 'round' }"
              (click)="shapeRound('shapeBottomRight')"></div>
          </div>
        </div>
      </div>
       <div class="sidebar-panel">
        <div class="sidebar-label">Image</div>
        <div class="sidebar-row image-row">
          <fs-file (select)="fileSelect($event)">
            <button type="button" mat-icon-button><mat-icon>cloud_upload</mat-icon></button>
          </fs-file>
          <ng-container *ngIf="block.imageUrl">
            <button
              mat-icon-button
              color="basic"
              type="button"
              (click)="imageRemove()">
              <mat-icon>clear</mat-icon>
            </button>
            <button
              mat-icon-button
              class="toggle-button"
              color="basic"
              type="button"
              [ngClass]="{ selected: clippable }"
              (click)="imageClip()">
              <mat-icon>crop</mat-icon>
            </button>
          </ng-container>
        </div>
      </div>
      <div class="sidebar-panel">
        <div class="sidebar-label">Padding</div>
        <div class="sidebar-row padding-row">
          <mat-form-field class="form-field-padless" floatLabel="never">
            <input
              matInput
              [(ngModel)]="block.paddingTop"
              name="paddingTop"
              (ngModelChange)="paddingChange('paddingTop',$event)"
              placeholder="Top">
              <span matPrefix *ngIf="block.paddingTop">T</span>
          </mat-form-field>

          <mat-form-field class="form-field-padless" floatLabel="never">
            <input
              matInput
              [(ngModel)]="block.paddingBottom"
              name="paddingBottom"
              (ngModelChange)="paddingChange('paddingBottom',$event)"
              placeholder="Bottom">
              <span matPrefix *ngIf="block.paddingBottom">B</span>
          </mat-form-field>

          <mat-form-field class="form-field-padless" floatLabel="never">
            <input
              matInput
              [(ngModel)]="block.paddingLeft"
              name="paddingLeft"
              (ngModelChange)="paddingChange('paddingLeft',$event)"
              placeholder="Left">
              <span matPrefix *ngIf="block.paddingLeft">L</span>
          </mat-form-field>

          <mat-form-field class="form-field-padless" floatLabel="never">
            <input
              matInput
              [(ngModel)]="block.paddingRight"
              name="paddingRight"
              (ngModelChange)="paddingChange('paddingRight',$event)"
              placeholder="Right">
              <span matPrefix *ngIf="block.paddingRight">R</span>
          </mat-form-field>
        </div>
      </div>
    </ng-container>

    <ng-container *ngFor="let sidebarPanel of sidebarPanels">
      <div div class="sidebar-panel" *ngIf="sidebarPanel.show">
        <div class="sidebar-label">{{sidebarPanel.label}}</div>
        <ng-container
          [ngTemplateOutlet]="sidebarPanel.templateRef"
          [ngTemplateOutletContext]="{ block: block }"></ng-container>
      </div>
    </ng-container>
  </div>

</div>
