<div
  #element
  class="block"
  [ngClass]="{ editable: editable }">
  <div
    #content
    class="content"
    [style.zIndex]="block.index"
    [style.borderColor]="block.borderColor"
    [style.borderStyle]="block.borderColor ? 'solid' : 'dashed'"
    [style.textAlign]="block.horizontalAlign"
    [style.fontStyle]="block.italic ? 'italic' : ''"
    [style.fontSize]="block.fontSize ? block.fontSize + 'pt' : ''"
    [style.lineHeight]="block.lineHeight ? block.lineHeight + 'pt' : ''"
    [style.color]="block.fontColor"
    [style.fontWeight]="block.bold ? 'bold' : ''"
    [style.textDecoration]="block.underline ? 'underline' : ''"
    [style.paddingTop]="block.paddingTop ? block.paddingTop + unit : ''"
    [style.paddingBottom]="block.paddingBottom ? block.paddingBottom + unit : ''"
    [style.paddingLeft]="block.paddingLeft ? block.paddingLeft + unit : ''"
    [style.paddingRight]="block.paddingRight ? block.paddingRight + unit : ''"
    [style.clipPath]="block.clipPath"
    [style.backgroundColor]="block.backgroundColor"
    [style.borderBottomLeftRadius]="block.shapeRadius && block.shapeBottomLeft === 'round' ? block.shapeRadius + unit : ''"
    [style.borderBottomRightRadius]="block.shapeRadius && block.shapeBottomRight === 'round' ? block.shapeRadius + unit : ''"
    [style.borderTopRightRadius]="block.shapeRadius && block.shapeTopRight === 'round' ? block.shapeRadius + unit : ''"
    [style.borderTopLeftRadius]="block.shapeRadius && block.shapeTopLeft === 'round' ? block.shapeRadius + unit : ''"
    [ngClass]="{
      'editable': editable,
      'vertical-align-center': block.verticalAlign === 'center',
      'vertical-align-bottom': block.verticalAlign === 'bottom'
    }">
    <img [src]="block.imageUrl" *ngIf="block.imageUrl">
    <div
      #contentEditable
      contenteditable="true"
      class="content-editable"
      [innerHTML]="block.content">
    </div>
  </div>
</div>


